<div class="tab picks" data-tab-name="picks">
  <iframe class="first" width="380" height="214" src="//www.youtube.com/embed/TS14EI_1kzE" frameborder="0" allowfullscreen></iframe>
  <iframe class="second" width="380" height="214" src="//www.youtube.com/embed/lLXLK4mrjJk" frameborder="0" allowfullscreen></iframe>

  <iframe class="first" width="380" height="214" src="//www.youtube.com/embed/FdA0QY3oPng" frameborder="0" allowfullscreen></iframe>
  <iframe class="second" width="380" height="214" src="//www.youtube.com/embed/T6izi4HwVf" frameborder="0" allowfullscreen></iframe>
</div>