.tab.picks {
  text-align:center;
  .play {
    display: block;
    width: 20%;
    height: 20%;
    border: none;
    position: absolute;
    top: 45%;
    left: 45%;
    background:url('images/play.png') no-repeat center;
    background-size:contain;
  }
  .meta {
    display:none;
  }
  .asset {
    width: auto;
    height: auto;
  }
  iframe.first {
   // margin-right:35px;
  }
} 