<div class="wall-item description">
  <section>
    <span>1.</span>
    <p>
      Step #1
    </p>
  </section>
  <section>
    <span>2.</span>
    <p>
      Step #2
    </p>
  </section>
  <section>
    <span>3.</span>
    <p>
      Step #3
    </p>
    <a class="upload-button button">Upload Photos</a>
  </section>
</div>