@import "breakpoint";


$hub-max-width:                   800px;

// DISPLAY SETTINGS
$phone:                           min-width 320px;
$bigphone:                        min-width 480px;
$wider:                           min-width 715px;
$oversize:                        min-width $hub-max-width;

// BASIC SETTINGS
$font-base:                       'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size:                       13px;
$line-height:                     1.4em;
$paragraph-indent:                1em auto;
$color:                           #333;
$footer-color:                    #aaa;

// LINKS
$link-color:                      #d13e2f;
$link-decoration:                 none;
$link-hover-color:                #d13e2f;
$link-hover-decoration:           underline;

// BUTTONS
$button-height:                   30px;
$button-background:               rgb(255, 255, 255); // linear-gradient(#e74c3c, #d13e2f);
$button-background-fallback:      $button-background; // set to custom if $button-background is a gradient
$button-color:                    #fff;
$button-border-radius:            5px;
$button-text-shadow:              none;
$button-box-shadow:               none;

// MENU
$menu-height:                     30px;
$menu-background:                 rgb(230, 234, 236);
$menu-font-size:                  $font-size;

$menu-item-background:            transparent;
$menu-item-color:                 #333;
$menu-item-text-shadow:           none;
$menu-item-border:                3px solid #ccc;

$menu-item-active-background:     $button-background;
$menu-item-active-color:          #000;
$menu-item-active-text-shadow:    none;
$menu-item-active-border:         none;

$menu-item-hover-background:      $menu-item-background;
$menu-item-hover-color:           $menu-item-color;
$menu-item-hover-text-shadow:     $menu-item-text-shadow;
$menu-item-hover-border:          $menu-item-border;

// WALL ITEMS
$wall-item-width:                 240px;
$wall-item-margin:                10px 0;
$wall-item-padding:               10px; // single value
$wall-item-shadow:                0 0 4px rgba(0,0,0,.3);
$wall-item-image-border:          1px solid #e2e2e2; // used for asset AND avatar
$wall-item-color:                 #797f7f;

// LIGHTBOX
$lightbox-max-width:              500px;
$lightbox-min-width:              200px;
$lightbox-padding:                0px;
$lightbox-caption-padding:        20px 20px 10px;

$lightbox-overlay-background:     rgba(black, .7);
$lightbox-asset-background:       #000;

$lightbox-sharing-opacity:        0.5;
$lightbox-sharing-hover-opacity:  1.0;

$lightbox-color:                  $color;
$lightbox-page-color:             $footer-color;

$lightbox-page-display:           none;

// VOTING/LIKING
$like-display:                    block;
$like-word:                       'vote';

