.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $lightbox-overlay-background;
  z-index: 9999;
  display: block;

  .loading {
    width: 58px;
    height: 58px;
    margin: 100px auto;
    background: #000 url('images/lightbox-loading.gif') center center no-repeat;
    padding: 10px;
    @include border-radius(5px);
  }
}
.lb-wrapper {
  z-index:10000;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:table;
}
@include breakpoint(wider) {
  .lightbox {
    height:100%;
    width:100%;
  }
}
.lightbox-vertical-wrapper {
  margin:0 auto;
  display:table-cell;
  vertical-align: middle;

  .lightbox-horizontal-wrapper {
    display: block;
    max-width: $lightbox-max-width;
    margin: 0 auto;

    .lightbox {
      position: relative;
      padding: 0;
      @include box-shadow(0 1px 4px rgba(black, .3));
      font-family: $font-base;
      color: $lightbox-color;
      line-height: $line-height;
      font-size:$font-size;
      .voting {
        text-align: center;
        .vote, .thanks {
          position: absolute;
          top: 75%;
          width: 100%;
          z-index: 100;
          display: none;
          background: #fff;
          border: 1px solid rgba(0, 0, 0, .1);
          border-bottom: none;
          p {
            font-size: 80%;
            margin: 0;
            padding: 3px;
          }
        }
        .vote:hover {
          background: rgb(235, 235, 235);
        }
        .thanks {
          display: none;
          background: url(images/check.png) 60% 50% no-repeat rgb(0, 159, 221);
          border: none;
          p {
            color: #fff;
          }
        }
      }
      .asset {
        min-height:100px;
        nav {
          display:block;
        }
      }
      .chute-asset.video {
        nav {
          a.prev, a.next {
            width:20%;
          }
        }
      }
      nav {
        position: absolute;
        top: 0;
        width: 100%;
        left:0;
        height:100%;
        display:none;
        z-index:2;
        a {
          position:absolute;
          top:0;
          height:100%;
          cursor:pointer;
          span {
            position:absolute;
            display:block;
            top:50%;
            margin-top:-18px;
            width:22px;
            height:37px;
            background:url("images/lightbox-arrows-inactive.png") no-repeat;
            background-size:44px 37px;

            -webkit-transition: background-image 0.2s ease-in-out;
            -moz-transition: background-image 0.2s ease-in-out;
            -ms-transition: background-image 0.2s ease-in-out;
            -o-transition: background-image 0.2s ease-in-out;
            transition: background-image 0.2s ease-in-out;
          }

          &:hover {
            span {
              background-image:url("images/lightbox-arrows-active.png");
            }
          }

          &.prev {
            width:40%;
            left:0;
            span {
              margin-right: 10px;
              background-position:0 0;
              left:8px;
            }
          }

          &.next {
            right:0;
            width:60%;
            span {
              margin-left: 10px;
              background-position:-22px 0;
              right:8px;
            }
          }

          &.close {
            top: 0px;
            right: 0px;
            background-image:url("images/lightbox-cross-inactive.png");
            background-size:19px 19px;
            background-position:center;
            background-repeat:no-repeat;
            width:40px;
            height:40px;
            cursor:pointer;
            z-index:100;

            -webkit-transition: background-image 0.2s ease-in-out;
            -moz-transition: background-image 0.2s ease-in-out;
            -ms-transition: background-image 0.2s ease-in-out;
            -o-transition: background-image 0.2s ease-in-out;
            transition: background-image 0.2s ease-in-out;

            &:hover {
              background-image:url("images/lightbox-cross-active.png");
            }
          }
        }
      }

      .asset-container {
        background-color: $lightbox-asset-background;
        padding: $lightbox-padding;

        .asset {
          position:relative;
          display: block;
          margin: auto;
          text-align: center;
          .like {
            //width:70px;
            //height:70px;
            //bottom:-35px;
            //@include border-radius(35px);
            .text {
              font-size:14px;
              margin-top:7px;
            }
          }
          img, video {
            max-width: 100%;
            display: block;
            margin: auto;
            @include border-radius(3px);

            @include breakpoint(max-width 480px) {
              width:280px !important;
            }
          }
          .video-js {
            max-height:500px;
            .vjs-control-bar {
              z-index:10;
            }
            .vjs-big-play-button:before {
              font-size: 3.5em;
              line-height: 2.8em;
              padding-left: 10px;
            }
            .vjs-big-play-button {
              width: 10em;
              height: 10em;
              margin-top:-5em;
              margin-left:-5em;
              left:50%;
              top:50%;
              @include border-radius(50%);
            }
          }
          video {
            max-width: 500px;
            max-height: 80%;
          }

        }
      }

      .meta {
        padding-bottom: 0px;
        margin: auto;
        background-color: white;

        .caption {
          padding: $lightbox-caption-padding;

          p {
            color: $lightbox-color;
          }
        }

      }

      .options {
        background-color: white;
        padding: 15px 20px 0;
      }

      .sharing {
        background: #fff;
      }

      .nav {
        display: $lightbox-page-display;
        text-align:right;
        margin-top:5px;
      }
    }
  }
}