<div class="hub">
  <div class="header">
    <a class="logo" href="#"><h1>Project Name</h1></a>
  </div>

  <div class="panel clearfix">
    <div class="tabs-menu">
      <ul class="clearfix">
        <li data-tab-name="recent"><a href="#recent">Recent</a></li>
        <li data-tab-name="popular"><a href="#popular">Popular</a></li>
        <li data-tab-name="picks"><a href="#picks">Editors' Picks</a></li>
      </ul>
    </div>
    <div class="upload">
      <a class="upload-button button">Upload Photos</a>
    </div>
  </div>

  <div class="tabs">
  </div>

  <div class="footer">
    <p class="powered-by">Powered by <a href="http://getchute.com" target="_blank">Chute</a></p>
  </div>
</div>