<div class="hub">
  <div class="header">
    <a class="logo" href="#"><h1>Sphero</h1></a>
    <div class="boxes">
      <div class="first">
        <h2>First</h2>
        <p>Take your picture</p>
        <p>Grab a pen and paper, finish the sentence and take a photo</p>
      </div>
      <div class="second">
        <h2>Second</h2>
        <p>Submit</p>
        <p>Post your picture to Instagram or Twitter using #SpherosTricks or submit here</p>
      </div>
      <div class="third">
        <h2>Lastly</h2>
        <p>Favorite</p>
        <p>Select your favorite by hovering over the photo and clicking the star.</p>
      </div>
    </div>
  </div>

  <div class="panel clearfix">
    <div class="upload">
      <a class="upload-button button">Upload your own</a>
    </div>
    <div class="share">
      <a href="" class="facebook"></a>
      <a href="" class="pinterest"></a>
      <a href="" class="twitter"></a>
    </div>
    <div class="tabs-menu">
      <ul class="clearfix">
        <li data-tab-name="recent"><a href="#recent">Gallery</a></li>
        <li data-tab-name="picks"><a href="#picks">Winners</a></li>
      </ul>
    </div>
  </div>

  <div class="tabs">
  </div>

  <div class="footer">
    <p class="powered-by">Powered by <a href="http://getchute.com" target="_blank">Chute</a></p>
  </div>
</div>