<div class="hub">
  <div class="header">
    <a class="logo" href="#"><h1>Sphero</h1></a>
  </div>

  <div class="panel clearfix">
    <div class="upload">
      <img src='images/submit-tricks.png' />
    </div>

    <div class="tabs-menu">
      <ul class="clearfix">
        <li data-tab-name="picks"><a href="#picks">Orbotix Tricks</a></li>
        <li data-tab-name="recent"><a href="#recent">Recent</a></li>
        <li data-tab-name="popular"><a href="#popular">Most Popular</a></li>
      </ul>
    </div>
  </div>
  <h1>Winners Circle</h1>
  <hr />
  <div class="winners">
  </div>

  <div class="tabs">
  </div>

  <div class="footer">
    <p><a href="https://s3.amazonaws.com/cdn.getchute.com/displays/sphero/production/latest/documents/contestrules.pdf" target="_blank">Official Rules</a></p>
    <p class="powered-by">Powered by <a href="http://getchute.com" target="_blank">Chute</a></p>
  </div>
</div>